<script setup lang="ts">
import BackToPreviousPage from "@/components/BackToPreviousPage.vue";
</script>

<template>
  <BackToPreviousPage
    current-page-name="Sotuvlar tarixi"
    page-path="/"
  ></BackToPreviousPage>
</template>
