<script setup lang="ts"></script>

<template>
  <div class="flex justify-center items-center min-h-screen">
    <RouterLink class="text-9xl font-bold text-primary animate-pulse" to="/">
      404
    </RouterLink>
  </div>
</template>
