<script setup lang="ts">
import { ArrowLeftIcon } from "@heroicons/vue/24/outline";

defineProps<{
  currentPageName: string;
  pagePath: string;
}>();
</script>

<template>
  <div
    class="fixed top-0 w-full h-16 text-primary flex items-center gap-3 px-6 border-b-2 border-primary-light"
  >
    <RouterLink :to="pagePath">
      <ArrowLeftIcon class="w-6 h-6"></ArrowLeftIcon>
    </RouterLink>
    <h2 class="text-xl font-semibold">{{ currentPageName }}</h2>
  </div>
</template>
