<script setup lang="ts">
import { onMounted, ref } from "vue";
import { useUserStore } from "../stores/user";
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle,
} from "@headlessui/vue";

const userStore = useUserStore();

const user = ref({
  email: "",
  password: "",
});

const auth = () => {
  if (user.value.email !== "" && user.value.password !== "") {
    userStore.auth(user.value);
  } else {
    alert("Ma'lumotlarni to'ldiring!");
  }
};

onMounted(() => {
  if (userStore.accessToken !== "") {
    userStore.check();
  }
});
</script>

<template>
  <TransitionRoot appear :show="!userStore.isChecked" as="template">
    <Dialog as="div" class="relative z-10">
      <TransitionChild
        as="template"
        enter="duration-300 ease-out"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="duration-200 ease-in"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div class="fixed inset-0 bg-gray-950/50 transition-opacity" />
      </TransitionChild>
      <div class="fixed inset-0 overflow-y-auto">
        <div
          class="flex min-h-full items-center justify-center p-4 text-center"
        >
          <TransitionChild
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0 scale-95"
            enter-to="opacity-100 scale-100"
            leave="duration-200 ease-in"
            leave-from="opacity-100 scale-100"
            leave-to="opacity-0 scale-95"
          >
            <DialogPanel
              class="w-full max-w-md transform overflow-hidden rounded-2xl p-6 text-left align-middle transition-all bg-white"
            >
              <DialogTitle as="h3" class="text-lg font-medium leading-6">
                Kirish
              </DialogTitle>
              <div class="mt-4 flex flex-col space-y-2">
                <input
                  class="bg-transparent border border-gray-200 p-2 outline-none rounded-md"
                  type="email"
                  v-model="user.email"
                />
                <input
                  class="bg-transparent border border-gray-200 p-2 outline-none rounded-md"
                  type="password"
                  v-model="user.password"
                  @keyup.enter="auth()"
                />
                <button
                  @click="auth()"
                  class="p-2 bg-primary text-white rounded-md outline-dashed"
                >
                  Shaxsiy kabinetga kirish
                </button>
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>
