<script setup lang="ts">
defineProps<{
  link: string;
  title: string;
}>();
</script>

<template>
  <RouterLink
    class="flex flex-col items-center justify-center grow min-w-12 overflow-hidden whitespace-nowrap rounded-2xl text-primary"
    :to="link"
  >
    <slot></slot>
    <span>{{ title }}</span>
  </RouterLink>
</template>
