<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import {
  ArrowLeftStartOnRectangleIcon,
  ClockIcon,
} from "@heroicons/vue/24/outline";

const userStore = useUserStore();

const logout = () => {
  localStorage.removeItem("accessToken");
  location.reload();
};
</script>

<template>
  <div class="h-40 bg-primary rounded-b-3xl">
    <div class="p-6 flex justify-between items-center">
      <div class="flex gap-3 items-center">
        <span
          class="w-12 h-12 bg-gradient-to-bl from-white to-secondary rounded-2xl flex justify-center items-center font-black text-2xl text-primary"
        >
          {{ userStore.role === "user" ? "R" : "L" }}
        </span>
        <div class="text-white">
          <p class="text-sm">Salom! Xush kelibsiz!</p>
          <h3 class="font-semibold text-lg">
            {{ userStore.role === "user" ? "Rustam" : "Lazizbek" }}
          </h3>
        </div>
      </div>
      <div class="flex gap-2">
        <RouterLink
          class="inline-block bg-white/5 text-white p-2 rounded-lg"
          to="/history"
        >
          <ClockIcon class="w-6 h-6"></ClockIcon>
        </RouterLink>
        <button
          class="inline-block bg-white/5 text-white p-2 rounded-lg"
          @click="logout()"
        >
          <ArrowLeftStartOnRectangleIcon
            class="w-6 h-6"
          ></ArrowLeftStartOnRectangleIcon>
        </button>
      </div>
    </div>
  </div>
</template>
