<script setup lang="ts">
import NavigationItem from "@/components/NavigationItem.vue";
import {
  BanknotesIcon,
  ClipboardDocumentCheckIcon,
  Squares2X2Icon,
} from "@heroicons/vue/24/outline";
</script>

<template>
  <main class="mb-20">
    <RouterView></RouterView>
  </main>
  <div
    class="fixed bottom-0 w-full h-20 rounded-t-2xl shadow-inner shadow-gray-300 bg-white overflow-x-auto flex p-2 navigation"
  >
    <NavigationItem link="/" title="Bosh sahifa">
      <Squares2X2Icon class="w-6 h-6"></Squares2X2Icon>
    </NavigationItem>
    <NavigationItem link="/products" title="Mahsulotlar">
      <ClipboardDocumentCheckIcon class="w-6 h-6"></ClipboardDocumentCheckIcon>
    </NavigationItem>
    <NavigationItem link="/debts" title="Qarzlar">
      <BanknotesIcon class="w-6 h-6"></BanknotesIcon>
    </NavigationItem>
  </div>
</template>
