@tailwind base;
@tailwind components;
@tailwind utilities;

.navigation .router-link-exact-active {
  @apply bg-primary text-white duration-300;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
