<script setup lang="ts">
import LoginModal from "./components/LoginModal.vue";
import { RouterView } from "vue-router";
import { useUserStore } from "./stores/user";

const userStore = useUserStore();
</script>

<template>
  <RouterView v-if="userStore.isChecked"></RouterView>
  <LoginModal></LoginModal>
</template>
